<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>양조장 정보 등록</title>
</head>
<body>
	<h1>양조장 등록</h1>
	<form action="/brewery/write" method="post" enctype="multipart/form-data">
		<input type="text" placeholder="양조장명 입력" name="breweryName"> <br>
		지역 <input type="text" placeholder="지역 입력" name="breweryAddr"> <br>
		주소 <input type="text" placeholder="주소 입력" name="breweryPhone"> <br>
		연락처 <input type="text" placeholder="주소 입력" name="breweryPhone"> <br>
		홈페이지 <input type="text" placeholder="주소 입력" name="breweryPhone"> <br>
	</form>
	<input type="text">
</body>
</html>