<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>양조장 정보 변경</title>
	</head>
	<body>
		<h1>양조장 정보 변경</h1>
		<form action="/brewery/update" method="post" th:object="${brewery}">
			<input type="hidden" name="breweryNo" th:value="*{breweryNo}">
            양조장명 <input type="text" name="breweryName" th:value="*{breweryName}"> <br>
            지역 <input type="text" name="breweryLocal" th:value="*{breweryLocal}"> <br>
            주소 <input type="text" name="breweryAddr" th:value="*{breweryAddr}"> <br>
            번호 <input type="text" name="breweryPhone" th:value="*{breweryPhone}"> <br>
            오픈시간 <input type="time" name="openTime" th:value="*{openTime}"> <br>
            마감시간 <input type="time" name="closeTime" th:value="*{closeTime}"> <br>
            홈페이지 <input type="text" name="breweryUrl" th:value="*{breweryUrl}"> <br>
            <input type="submit" value="변경"> <br>
			체험 프로그램 <button th:onclick="goTourInsert();">등록</button>
        </form>
	</body>
	<script th:inline="javascript">
		function goTourInsert() {
			loacation.href="@{/tour/insert/{breweryNo}}"
		}
	</script>
</html>