<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>결제 정보 창</title>
<link rel="stylesheet" href="/css/reservation/paymentPage.css">
</head>

<body>
 <header>
        <div class="header-top">
            <div style="width: 100px;;"></div>
            <div id="logo-container">
                <img src="./img/logo.png" alt="" id="logo">
                <h1>술길따라</h1>
            </div>
            <div class="user-actions">
                <a href="#" class="icon-user"><img class="header-img" src="./img/free-icon-user-17095347.png" alt=""></a>
                <a href="#" class="icon-menu"><img class="header-img" src="./img/free-icon-menu-3856832.png" alt=""></a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#story">술길따라 이야기</a></li>
                <li><a href="#brewery">양조장 탐방</a></li>
                <li><a href="#guide">술 도감</a></li>
                <li><a href="#tour">투어 예약</a></li>
                <li><a href="#tales">술 이야기</a></li>
            </ul>
        </nav>
</header>
    <main>   
	<h2>결제 정보</h2>
	<div class="main" th:each="Reservation: ${rList}">
		<div class="main-left">
			<div class="payment-box payment-method">
				<h3>결제 수단</h3>
				<label> <input type="radio" name="kakaoPay" value="카카오페이"
					checked> 카카오페이
				</label>
			</div>
			<div class="payment-box kakao-pay-info">
				<div class="kakaoPayImg">
				<img alt="카카오페이" src="/img/reservation/kakaoPay.png"> 	
				</div>
				<div class="paymentMethod">
				<span id="paymentMethod">카카오페이</span>
				<span id="kakaoPayEmail" th:text="${Reservation.email}"></span>				
				</div>
			</div>
			
		</div>
		<div class="main-right">
			<div class="payment-box">
				<h3>총 결제금액</h3>
				<div class="total-amount" th:text="${#numbers.formatDecimal((Reservation.tourPrice*Reservation.visitorNum) + (Reservation.tourPrice * 0.1), 0, 0)} + '원'"></div>
				<hr>
				<div class="payment-info">
					<div class="tourPrice">
						<span><h3>상품금액</h3></span>
						<div class="price" th:text="${Reservation.tourPrice*Reservation.visitorNum + '원'}"></div>
					</div>
					<div class="tourPrice">
						<span id="productPrice"><h3>VAT</h3></span>
						 <span class="price" th:text="${#numbers.formatDecimal(Reservation.tourPrice * 0.1,0,0) + '원'}"></span>
					</div>
				</div>
			</div>
			<form method="post" th:action="@{/kakaoPay}">
				<button type="submit" class="pay-button">결제 하기</button>
			<input type="hidden" name="email" th:value="${Reservation.email}">
			<input type="hidden" name="tourPrice" th:value="${Reservation.tourPrice}">
			<input type="hidden" name="userId" th:value="${Reservation.userId}">
			<input type="hidden" name="tourName" th:value="${Reservation.tourName}">
			<input type="hidden" name="breweryName" th:value="${Reservation.breweryName}">
			<input type="hidden" name="breweryNo" th:value="${Reservation.breweryNo}">
			<input type="hidden" name="tourContent" th:value="${Reservation.tourContent}">
			<input type="hidden" name="visitorNum" th:value="${Reservation.visitorNum}">
			</form>
		</div>
	</div>
	</main>
	<footer>
        <nav>
            <a href="#">이용약관</a> |
            <a href="#">개인정보처리방침</a> |
            <a href="#">사이트맵</a>
        </nav>
        <div class="company-info">
            <p>상호 : 술길따라 | 대표이사 : 김정욱 | 설립일 : 2024년 8월 26일 | 개인정보관리책임자 : 홍예은</p>
            <p>문의 : jwkim@gmail.com | 사업자등록번호 : 111-22-33333 | 서울시 중구 남대문로 120</p>
        </div>
        <div class="social-icons">
            <a href="#" class="icon-facebook"><img src="./img/free-icon-facebook-circular-logo-20673.png" alt=""></a>
            <a href="#" class="icon-instagram"><img src="./img/free-icon-instagram-4922972.png" alt=""></a>
        </div>
        <p class="copyright">Copyright 2024 Sulgilddara Inc. | All Rights Reserved </p>
    </footer>
</body>
</html>