<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>

	</head>
	
	<body>
			<form action="@{/reservation/searchadmin}">
				<div class="searchArea">
					<div class="searchCondition">
						<div class="searchDate">
							<div class="startDate">
								<input type="Date" name="startDate">
							</div>
							<div class="endDate">
								<input type="Date" name="endDate">
							</div>
						</div>
					</div>
					<div class="searchButton">
						<button>조회</button>
					</div>			
				</div>
			</form>
	</body>
</html>