<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body>
		<form th:action="@{/reservation/reservationsuccess}" method="POST">

			<h1>예약이 완료 되었습니다</h1>
			
			<table>
			<tr th:each="Reservation: ${rList}" var="Reservation">						
				<td>[[${Reservation.reserveNo}]] </td>
			</tr>
			</table>
			<p>체험 예약이 완료 되었습니다. <br>
			[마이페이지 > 예약 조회] 에서 예약 조회가 가능합니다. <br>
			
			양조장 사정에 따라 스케줄 변동 / 취소가 발생할 수 있으니 출발 24시간 전에 반드시 <br>
			일정을 재 확인해 주시기 바랍니다.</p>

		</form>
	</body>
</html>