<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	
	<body>
		<form th:action="@{/reservation/searchadmin}" method="POST">
			<div class="searchArea">
				<div class="searchDiv1">
			<!-- 		<div class="searchDate">
						<div class="startDate">
							<input type="Date" name="startDate">
						</div>
						<div class="endDate">
							<input type="Date" name="endDate">
						</div>
					</div> -->
				</div>
				<div class="searchDiv2">
					<div class="breweryNameSearch">
						<input type="text" name="breweryName">
					</div>
					<div class="userId">
						<input type="text" name="userId">
					</div>
				</div>
					<button>조회</button>
			</div>
		</form>
		
		
		<div class="reserveResult">
			<div class="List">
				목록
			</div>
			<div class="searchResult">
				<table>
					<thead>
						<tr>
							<th>예약 번호</th>
							<th>양조장 명</th>
							<th>체험 프로그램</th>
							<th>예약 날짜</th>
							<th>예약 인원</th>
							<th>예약 시간</th>
							<th>비상 연락처</th>
							<th>예약자</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="Reservation: ${rList}" var="Reservation">						
							<td>[[${Reservation.reserveNo}]]</td>
							<td>[[${Reservation.breweryName}]]</td>
							<td>[[${Reservation.tourId}]]</td>
							<td>[[${Reservation.reserveDate}]]</td>
							<td>[[${Reservation.visitorNum}]]</td>
							<td>[[${Reservation.reserveTime}]]</td>
							<td>[[${Reservation.emergencyPhone}]]</td>
							<td>[[${Reservation.userId}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>