<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body>
		<div>
			<input type="text" name="tourName">
		</div>
		<form th:action="@{/reservation/list}" method="POST">
		<div class="main" th:each="Tour: ${tList}">
			<div class="tourInfo">
				<div class="Tourimg">
				<!-- 	<div><img th:src="@{${ImagePath}}" alt="Brewery Image"/></div>	 -->			
				</div>
				<div class="TourContent">
					<span>[[${Tour.tourName}]]</span>
					<p>[[${Tour.tourContent}]]</p>
					<p>[[${Tour.timeTaken]]</p>
					<p>[[${Tour.tourPrice]]</p>
				</div>
				<button>예약하기</button>
			</div>
		</div>
		</form>
		<th:block th:unless="${#lists.isEmpty(tList)}">
			 <tr align="center">
				<td colspan="5">
					<th:block th:if="${pn!=null and pn.startNavi!= null and pn.endNavi != null}">
						<th:block th:if="${pn.startNavi > 1}">
							<a th:href="@{/reservation/list(currentPage=${pn.prevPage})}">Previous</a>
						</th:block>
						
						<th:block th:each="p:${#numbers.sequence(pn.startNavi,pn.endNavi)}">
							<a th:href="@{/reservation/list(currentPage=${p}, userId=${userId}, breweryName=${breweryName})}" th:text="${p}"></a>
						</th:block> 
						
					 <th:block th:if="${pn.endNavi < pn.maxPage}">
							<a th:href="@{/reservation/list(currentPage=${pn.nextPage})}">Next</a>
						</th:block>
					</th:block>
				</td>
			</tr>
		</th:block>
	</body>
</html>