<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/tourSearchResultList.css">
</head>
<body>
	<form th:action="@{/reservation/listSearchResult}" th:object="${tour}"
		method="POST" class="search-form">
		<input type="text" name="tourName" th:value="${tourName}"
			placeholder="투어 이름 검색">
		<button type="submit">검색</button>
	</form>

	<ul class="tour-list">
		<li th:each="Tour: ${tList}" class="tour-item"><img
			th:src="@{${Tour.ImagePath}}" alt="Tour Image" class="tour-img">
			<div class="tour-content">
				<h2 class="tour-title" th:text="${Tour.tourName}"></h2>
				<p class="tour-info" th:text="${Tour.tourContent}"></p>
				<p class="tour-brewery" th:text="${Tour.breweryName}"></p>
				<p class="tour-time-price">
					<span th:text="${Tour.timeTaken}"></span> | <span
						th:text="${Tour.tourPrice}"></span>
				</p>
				<th:block th:each="Tour: ${tList}">
					<form th:action="@{/reservation/initate/{breweryNo}/{tourNo}(breweryNo=${Tour.breweryNo},tourNo=${Tour.tourNo})}" method="POST">
						<input type="hidden" name="tourNo" th:value="${Tour.tourNo}">
						<input type="hidden" name="breweryNo" th:value="${Tour.breweryNo}">
						<button class="reserve-button">예약 하기</button>
					</form>
				</th:block>
			</div></li>
	</ul>

	<div class="pagination" th:if="${not #lists.isEmpty(tList)}">
		<a th:if="${pn.startNavi > 1}"
			th:href="@{/reservation/list(currentPage=${pn.prevPage})}">&laquo;
			이전</a> <span th:each="p : ${#numbers.sequence(pn.startNavi, pn.endNavi)}">
			<a
			th:href="@{/reservation/list(currentPage=${p},tourName=${tourName})}"
			th:text="${p}"></a>
		</span> <a th:if="${pn.endNavi < pn.maxPage}"
			th:href="@{/reservation/list(currentPage=${pn.nextPage})}">다음
			&raquo;</a>
	</div>
</body>
</html>