<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body>
		<form th:action="@{/reservation/listSearchResult}" th:object="${tour}" method="POST">	
			<div>
				<input type="text" name="tourName" th:value="${tourName}">
				<button type="submit">검색</button>
			</div>
		</form>
		<div th:each="Tour: ${tList}">
			<div class="main">
				<div class="tourInfo">
					<div class="Tourimg">
			<div><img th:src="@{${ImagePath}}" alt="Brewery Image"/></div>
					</div>
					<div class="TourContent">
						<span th:text="${Tour.tourName}"></span>
							<p th:text="${Tour.tourContent}"></p>
							<p th:text="${Tour.timeTaken}"></p>
							<p th:text="${Tour.tourPrice}"></p>
					</div>
				</div>
		</div>
		<form th:action="@{/reservation/register/{tourNo}(tourNo=${Tour.tourNo})}" method="POST">
					<button>예약하기</button>
		</form>
			</div>
			<th:block th:unless="${#lists.isEmpty(tList)}">
				 <tr align="center">
					<td colspan="5">
						<th:block th:if="${pn!=null and pn.startNavi!= null and pn.endNavi != null}">
							<th:block th:if="${pn.startNavi > 1}">
								<a th:href="@{/reservation/list(currentPage=${pn.prevPage})}">Previous</a>
							</th:block>
							
							<th:block th:each="p:${#numbers.sequence(pn.startNavi,pn.endNavi)}">
								<a th:href="@{/reservation/list(currentPage=${p},tourName=${tourName})}" th:text="${p}"></a>
							</th:block> 
							
						 <th:block th:if="${pn.endNavi < pn.maxPage}">
								<a th:href="@{/reservation/list(currentPage=${pn.nextPage})}">Next</a>
							</th:block>
						</th:block>
					</td>
				</tr>
			</th:block>
	</body>
</html>