<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.makjan.sulgilddara.brewery.model.mapper.BreweryMapper">
	  <insert id="insertBrewery">
	  	<selectKey order="BEFORE" resultType="_int" keyProperty="breweryNo">
	  		SELECT SEQ_BREWERY_NO.NEXTVAL FROM DUAL
	  	</selectKey>
	  		INSERT INTO BREWERY_TBL
	  		VALUES(#{breweryNo}, 
	  				#{breweryName}, 
	  				#{breweryLocal}, 
	  				#{breweryAddr}, 
	  				#{breweryPhone}, 
	  				#{breweryUrl}, 
	  				DEFAULT, 
	  				DEFAULT, 
	  				#{openTime}, 
	  				#{closeTime}, 
	  				#{fileName}, 
	  				#{fileRename}, 
	  				#{filePath})
	  </insert>
	  <select id="selectAllList" resultType="Brewery">
	  		SELECT * FROM BREWERY_TBL
	  </select>
	  <select id="searchOneByNo" resultType="Brewery">
	  		SELECT * FROM BREWERY_TBL WHERE BREWERY_NO=#{breweryNo}
	  </select>
	  <update id="updateBrewery">
	  		UPDATE BREWERY_TBL
	  		SET BREWERY_NAME=#{breweryName}, 
	  		BREWERY_LOCAL=#{breweryLocal}, 
	  		BREWERY_ADDR=#{breweryAddr}, 
	  		BREWERY_PHONE=#{breweryPhone}, 
	  		OPENTIME=#{openTime}, 
	  		CLOSETIME=#{closeTime}, 
	  		BREWERY_URL=#{breweryUrl},
	  		B_UPDATE_DATE=DEFAULT,
	  		FILENAME=#{fileName},
	  		FILERENAME=#{fileRename},
	  		FILEPATH=#{filePath}
	  		WHERE BREWERY_NO=#{breweryNo}
	  </update>
	  <delete id="deleteBrewery">
	  		DELETE FROM BREWERY_TBL
	  		WHERE BREWERY_NO=#{breweryNo}
	  </delete>
	  <select id="selectSearchList" resultType="Brewery">
	  	SELECT * FROM BREWERY_TBL
		<where>
			<if test="searchCondition == 'all'">
				BREWERY_NAME LIKE '%'||#{searchKeyword}||'%' 
				OR BREWERY_LOCAL LIKE '%'||#{searchKeyword}||'%'
			</if>
	<!-- 	양조장명으로 검색하는 쿼리문 -->
			<if test="searchCondition == 'brewery'">
				BREWERY_NAME LIKE '%'||#{searchKeyword}||'%'
			</if>
	<!-- 	지역명으로 검색하는 쿼리문 -->
			<if test="searchCondition == 'local'">
				BREWERY_LOCAL LIKE '%'||#{searchKeyword}||'%'
			</if>
		</where>
	  </select>
  </mapper>
  