<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.makjan.sulgilddara.Reservation.model.Mapper.ReservationMapper">
 <resultMap type="Reservation" id="reserveResultMap">
 	<id property="reserveNo" column="RESERVE_NO"/>
 	<result property="userId" column="USERID"/>
 	<result property="memberNum" column="MEMBER_NUM"/>
 	<result property="reserveDate" column="RESERVE_DATE"/>
 	<result property="reserveTime" column="RESERVE_TIME"/>
 	<result property="tourId" column="TOURID"/>
 	<result property="emergencyPhone" column="EMERGENCY_PHONE"/>
 	<result property="breweryName" column="BREWERY_NAME"/>
 </resultMap>

 <insert id="RegisterInfo">
 INSERT INTO RESERVATION_TBL VALUES(#{reserveNo}, #{userId}, #{visitorNum}, #{reserveDate}, #{reserveTime}, 1, #{emergencyPhone},1)
 </insert>
 <select id="SearchInfo" resultMap="reserveResultMap">
 	SELECT * FROM RESERVATION_TBL WHERE RESERVE_NO=#{reserveNo}
 </select>
 <select id="SearchAllInfo" resultMap="reserveResultMap">
 	SELECT * FROM RESERVATION_TBL 
	<where>
		<choose>
			<when test="breweryName!= null and breweryName!= '' ">
				BREWERY_NAME=#{breweryName}
			</when>
			<when test="userId != null and userId != ''">
				USERID= #{userId}
			</when>
			<when test="breweryName!= null and breweryName != '' and userId!=null and userId!= '' ">
				USERID= #{userId} AND BREWERY_NAME=#{breweryName}
			</when>
		</choose>
	</where>
 </select>
 <select id="SearchreserveNo" resultMap="reserveResultMap">
 	SELECT RESERVE_NO FROM RESERVATION_TBL WHERE USERID=#{userId}
 </select>
 <select id="getTotalCount" resultType="_int">
 	SELECT COUNT(*) FROM RESERVATION_TBL
 </select>
 </mapper>