<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.makjan.sulgilddara.tour.model.mapper.TourMapper">
	  <insert id="insertTour">
	  	<selectKey order="BEFORE" resultType="_int" keyProperty="tourNo">
	  		SELECT SEQ_TOUR_NO.NEXTVAL FROM DUAL
	  	</selectKey>
			INSERT INTO TOUR_TBL
			VALUES(#{tourNo},
					#{tourName},
					#{tourContent},
					#{timeTaken},
					#{tourPrice},
					#{breweryNo},
					#{fileName},
					#{fileRename},
					#{filePath})
	  </insert>
	  <select id="showTourByBrwNo" resultType="Tour">
	  	SELECT * FROM TOUR_TBL WHERE BREWERY_NO=#{breweryNo}
	  </select>
	  <select id="searchOneByNo" resultType="Tour">
	  	SELECT * FROM TOUR_TBL WHERE TOUR_NO=#{tourNo}
	  </select>
	  <update id="updateTour">
	  	UPDATE TOUR_TBL
	  	SET TOUR_NAME=#{tourName},
	  	TOUR_CONTENT=#{tourContent},
	  	TIME_TAKEN=#{timeTaken},
	  	TOUR_PRICE=#{tourPrice},
	  	FILENAME=#{fileName},
	  	FILERENAME=#{fileRename},
	  	FILEPATH=#{filePath}
	  	WHERE TOUR_NO=#{tourNo}
	  </update>
	  <delete id="deleteTour">
	  	DELETE FROM TOUR_TBL
	  	WHERE TOUR_NO=#{tourNo}
	  </delete>
	  
	  <!-- 투어리스트 총 게시글 검색 -->
	  <select id="getListTotalCount" resultType="_int">
	  	select count(*) from TOUR_TBL
	  	<where>
	  		<if test="tourName!=null and tourName!='' ">
	  			AND TOUR_NAME=#{tourName}
	  		</if>
	  	</where>
	  </select>
	  <!-- 투어 리스트 페이지 검색에 따라 결과 출력 쿼리-->
	  <select id="selectSearchList" resultType="Tour">
	  SELECT * FROM TOUR_TBL WHERE TOUR_NAME=#{tourName}
	  </select>
  </mapper>