<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 탈퇴 페이지</title>
    <script>
    function confirmDeletion(event) {
        event.preventDefault(); // 기본 폼 제출을 막음

        if (confirm("정말로 탈퇴하시겠습니까?")) {
            document.getElementById("deleteForm").submit();
        }
    }
    </script>
</head>
<body>

    <h1>회원탈퇴 페이지</h1>
    <form id="deleteForm" action="/user/delete" method="post" onsubmit="confirmDeletion(event)">
        <input type="hidden" name="loginType" value="${user.loginType}" />
        <div th:if="${user.loginType.equals('LOCAL')}">
            비밀번호 확인 <input type="password" name="userPw" placeholder="비밀번호를 입력해주세요"> <br />
        </div>
        <button type="submit">탈퇴하기</button>
    </form>
</body>
</html>
