body, html {
	font-family: 'Noto Serif KR', serif;
	font-size: 10px;
	line-height: 1.5;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

header {
	background-color: white;
	padding: 20px;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	margin: 0 auto;
	margin-bottom: 25px;
}

h1 {
	font-size: 3rem;
	font-weight: 800;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
}

nav ul li a {
	text-decoration: none;
	color: black;
	/* font-size: 1.2rem; */
	font-size: 18px;
}

.user-actions {
	display: flex;
	/* gap: 20px; */
}

.icon-user, .icon-menu {
	width: 50px;
	height: 50px;
	/* background-color: #D9D9D9; */
}

.user-actions img {
	width: 30px;
	height: 30px;
}

.search-form {
	margin-bottom: 20px;
	text-align: right;
}

.search-form input[type="text"] {
	width: 200px;
	padding: 5px;
	margin-right: 5px;
}

.search-form button {
	padding: 5px 10px;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	cursor: pointer;
}

.tour-item {
	display: flex;
	margin-bottom: 20px;
	border-bottom: 1px solid #000;
	padding-bottom: 20px;
}

.tour-img {
	width: 150px;
	height: 100px;
	background-color: #f0f0f0;
	margin-right: 20px;
}

.tour-content {
	flex: 1;
}

.tour-title {
	font-size: 18px;
	margin-bottom: 5px;
	color: #333;
}

.tour-info {
	font-size: 14px;
	color: #666;
	margin-bottom: 3px;
}

.tour-price {
	font-weight: bold;
}

.reserve-button {
	background-color: #f0f0f0;
	color: #333;
	padding: 5px 10px;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	float: right;
	border: 1px solid #ddd;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination a {
	padding: 5px 10px;
	margin: 0 5px;
	border: 1px solid #ddd;
	text-decoration: none;
	color: #333;
}
.reserve-button{
	cursor:pointer;
}