<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>술길따라</title>
    <link rel="stylesheet" href="./main.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../owlcarousel/owl.theme.default.min.css">
</head>
<body>
    <header>
        <div class="header-top">
            <div></div>
            <h1>술길따라</h1>
            <div class="user-actions">
                <a href="#" class="icon-user"><img src="./img/free-icon-user-17095347.png" alt="" style="width: 100%;"></a>
                <a href="#" class="icon-menu"><img src="./img/free-icon-menu-3856832.png" alt=""></a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#story">술길따라 이야기</a></li>
                <li><a href="#brewery">양조장 탐방</a></li>
                <li><a href="#guide">술 도감</a></li>
                <li><a href="#tour">투어 예약</a></li>
                <li><a href="#tales">술 이야기</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="popular-breweries">
            <!-- <h2>인기있는 양조장</h2> -->
            <div class="owl-carousel owl-theme">
                <img src="./img/와인동굴.png" alt="">
                <img src="./img/그나마 시골.png" alt="">
                <img src="./img/와인동굴인데 좀더 어두움.png" alt="">
                <img src="./img/한옥느낌.png" alt="">
                <img src="./img/와인통 짱많.png" alt="">
            </div>
        </section>
        
        <section id="story">
            <h2>술길따라 이야기</h2>
            <div class="story-content">
                <h3>酒路依良</h3>
                <div class="story-image">
                    <p>사이트 소개글</p>
                </div>
            </div>
        </section>

        <section id="brewery-tour">
            <h2>양조장 투어</h2>
            <div class="tour-grid">
                <div class="tour-item"></div>
                <div class="tour-item"></div>
                <div class="tour-item"></div>
                <div class="tour-item"></div>
                <div class="tour-item"></div>
                <div class="tour-item"></div>
            </div>
        </section>
    </main>

    <footer>
        <nav>
            <a href="#">이용약관</a> |
            <a href="#">개인정보처리방침</a> |
            <a href="#">사이트맵</a>
        </nav>
        <div class="company-info">
            <p>상호 : 술길따라 | 대표이사 : 김정욱 | 설립일 : 2024년 8월 26일 | 개인정보관리책임자 : 홍예은</p>
            <p>문의 : jwkim@gmail.com | 사업자등록번호 : 111-22-33333 | 서울시 중구 남대문로 120</p>
        </div>
        <div class="social-icons">
            <a href="#" class="icon-facebook"><img src="./img/free-icon-facebook-circular-logo-20673.png" alt=""></a>
            <a href="#" class="icon-instagram"><img src="./img/free-icon-instagram-4922972.png" alt=""></a>
        </div>
        <p class="copyright">Copyright 2024 Sulgilddara Inc. | All Rights Reserved</p>
    </footer>

    <script src="../owlcarousel/jquery.min.js"></script>
    <script src="../owlcarousel/owl.carousel.min.js"></script>

    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:8,
            nav:true,
            autoplay:true,
            autoplayTimeout:2000,
            autoplayHoverPause:true,
            
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        });
    </script>
</body>
</html>