<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body>
		<h1>카카오 페이 테스트</h1>
		<h1>결제가 성공적으로 완료되었습니다!</h1>
		  <div>
		     <!-- <p>주문 번호: <span th:text="${info.partner_order_id}"></span></p>
		      <p>상품명: <span th:text="${info.item_name}"></span></p>
		      <p>결제 금액: <span th:text="${info.amount}"></span>원</p>
		      <p>결제 시간: <span th:text="${info.approved_at}"></span></p>-->
		  </div>
		  <a href="/mypage/orders">주문 내역 보기</a>
		  <a href="/">홈으로 돌아가기</a>
	</body>
</html>