* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	font-family: 'Noto Serif KR', serif;
	font-size: 10px;
	line-height: 1.5;
}

main {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

header {
	background-color: white;
	padding: 20px;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	margin: 0 auto;
	margin-bottom: 25px;
}

h1 {
	font-size: 3rem;
	font-weight: 800;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
}

nav ul li a {
	text-decoration: none;
	color: black;
	/* font-size: 1.2rem; */
	font-size: 18px;
}

.user-actions {
	display: flex;
	/* gap: 20px; */
}

.icon-user, .icon-menu {
	width: 50px;
	height: 50px;
	/* background-color: #D9D9D9; */
}

.user-actions img {
	width: 30px;
	height: 30px;
}

.breweryInfo {
	margin-bottom: 20px;
}

.breweryTitle {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.Info {
	font-size: 20px;
	font-weight: bold;
	font-weight: bold;
}

.tourTitle {
	font-size: 15px;
	font-weight: 800;
}

.tour-info {
	display: flex;
}

.tourInfo {
	font-size: 15px;
	font-weight: 800;
}

.reservationDate {
	margin-bottom: 20px;
}
.reservationDate h3{
	font-size:20px;
}
.DateData table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
}

.DateData td:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

.DateData th, .DateData td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

.DateData td.selected {
	background-color: #007bff;
	color: white;
}

.DateData .header {
	background-color: #4CAF50;
	color: white;
}

.DateData .header button {
	background: none;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

h1, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

fieldset {
	border: 1px solid #ddd;
	padding: 15px;
	margin-top: 20px;
}

legend {
	font-weight: bold;
}

input[type="number"], select, input[type="tel"] {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.emergency span {
	font-size: 12px;
	color: #666;
}

button[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin-top: 20px;
}

button[type="submit"]:hover {
	background-color: #45a049;
}

.reservation-info {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	height: 230px;
}
.reservation-info1 {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	height: 380px;
}

.reservation-info h2 {
	margin-bottom: 20px;
	color: #333;
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	color: #666;
	font-size:10px;
}

.form-group input, .form-group select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
}

.form-group input[type="number"] {
	width: 100px;
}

.form-group select {
	appearance: none;
	background-image:
		url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
	background-repeat: no-repeat;
	background-position-x: 98%;
	background-position-y: 50%;
}

.info-text {
	margin-top: 5px;
	font-size: 14px;
	color: #ff0000;
}

/* 추가적인 반응형 스타일 */
@media ( max-width : 600px) {
	.reservation-info {
		padding: 10px;
	}
	.form-group input, .form-group select {
		font-size: 14px;
	}
}

#reserveButton {
	width: 100%;
}

.DateData {
	margin-bottom: 10px;
}

#reserveDate {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-top: 15px;
	display: block;
	border-bottom: 1px solid gray;
	margin-bottom: 30px;
}