/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* 헤더 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.user-menu {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 32px;
    height: 32px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-button span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
}

nav ul li {
    margin-right: 20px;
}



.search-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-filters input,
.search-filters select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.liquor-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.liquor-table th,
.liquor-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.liquor-table th {
    background-color: #F2EADF;
}

.liquor-image {
    width: 80px;
    height: 80px;
    background-color: #eee;
}

.edit-button,
.delete-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button {
    background-color: #28a745;
    color: white;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.liquor-table #pagination {
	text-align: center;
}

a {
    margin: 0 5px;
    text-decoration: none;
    color: #3f83bf;
}

#pagination span {
    margin: 0 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.register-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #666;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
}